.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-family: var(--font-sans);
  color: var(--color-gray-dark);
  font-size: 13px;
  font-weight: 500;
  transition: color 0.2s ease;

  @media (prefers-color-scheme: dark) {
    color: var(--color-light-gray);
  }
}

.errorMessage {
  font-family: var(--font-sans);
  color: var(--color-red);
  font-size: 10px;
  font-weight: 500;
}

.container.hasError .label {
  color: var(--color-red);
}

.input {
  font-family: var(--font-sans);
  font-size: 15px;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-white);
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  padding: 16px 20px;
  outline: none;
  transition: border-color 0.2s ease;
  caret-color: var(--color-primary-light);
  width: 100%;

  @media (prefers-color-scheme: dark) {
    & {
      background-color: var(--color-dark);
      border-color: var(--color-dark-light);
      color: var(--color-white);
    }
  }

  &::placeholder {
    color: inherit;
    opacity: 0.4;
  }

  &:focus,
  &:active {
    border-color: var(--color-primary-light);
  }
}

.container.hasError .input {
  border-color: var(--color-red);
}

.hideLabelDesktop .labelWrapper {
  @media (min-width: 768px) {
    display: none;
  }
}
