.card {
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 16px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border: 1px solid transparent;
  transition: border-color 0.2s ease;

  &:hover {
    border-color: var(--color-primary);
  }

  @media (prefers-color-scheme: dark) {
    & {
      background-color: var(--color-dark-light);
    }
  }

  @media (min-width: 768px) {
    & {
      flex-direction: row;
      align-items: center;
      padding: 16px 24px;
    }
  }
}

.mobileTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    & {
      display: contents;
    }
  }
}

.mobileBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    & {
      display: contents;
    }
  }
}

.leftGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 768px) {
    & {
      display: contents;
    }
  }
}

.id {
  font-family: var(--font-sans);
  font-size: 15px;
  font-weight: 700;
  color: var(--color-black);

  @media (prefers-color-scheme: dark) {
    & {
      color: var(--color-white);
    }
  }

  @media (min-width: 768px) {
    & {
      flex: 1;
    }
  }
}

.hash {
  color: var(--color-gray);
}

.date {
  font-family: var(--font-sans);
  font-size: 13px;
  font-weight: 500;
  color: var(--color-gray);

  @media (prefers-color-scheme: dark) {
    & {
      color: var(--color-light-gray);
    }
  }

  @media (min-width: 768px) {
    & {
      flex: 1;
      text-align: left;
    }
  }
}

.client {
  font-family: var(--font-sans);
  font-size: 13px;
  font-weight: 500;
  color: var(--color-gray-dark);

  @media (prefers-color-scheme: dark) {
    & {
      color: var(--color-white);
    }
  }

  @media (min-width: 768px) {
    & {
      flex: 1;
      text-align: left;
    }
  }
}

.amount {
  font-family: var(--font-sans);
  font-size: 15px;
  font-weight: 700;
  color: var(--color-black);

  @media (prefers-color-scheme: dark) {
    & {
      color: var(--color-white);
    }
  }

  @media (min-width: 768px) {
    & {
      flex: 1;
      text-align: right;
      padding-right: 40px;
    }
  }
}

.statusWrapper {
  @media (min-width: 768px) {
    & {
      width: 104px;
      margin-right: 20px;
    }
  }
}

.chevron {
  display: none;

  @media (min-width: 768px) {
    & {
      display: block;
      color: var(--color-primary);
    }
  }
}
