.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 102px;

  @media (min-width: 768px) {
    & {
      margin-top: 210px;
    }
  }

  @media (min-width: 1024px) {
    & {
      margin-top: 140px;
    }
  }
}

.image {
  max-width: 100%;
  width: 240px;
  height: auto;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    & {
      margin-bottom: 64px;
    }
  }
}

.title {
  font-family: var(--font-sans);
  font-size: 24px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: -0.75px;
  color: var(--color-black);
  margin: 0 0 24px 0;

  :global([data-theme="dark"]) & {
    & {
      color: var(--color-white);
    }
  }
}

.description {
  font-family: var(--font-sans);
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  color: var(--color-gray);
  margin: 0;
  max-width: 200px;

  @media (min-width: 768px) {
    & {
      max-width: 220px;
    }
  }

  :global([data-theme="dark"]) & {
    & {
      color: var(--color-light-gray);
    }
  }
}

.bold {
  font-weight: 700;
}

.desktopText {
  display: none;

  @media (min-width: 768px) {
    & {
      display: inline;
    }
  }
}
